@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
        -webkit-filter: hue-rotate(-360deg);
    }
}

#freq{
    /* background: linear-gradient(#ff0088, red); */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#backgroundHue{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#0043ff, #6f00ff);
    opacity: .7;
}

#freq.animateHue, body.animateHue {
    animation-name: hue;
    animation-duration: 250s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    -webkit-animation-name: hue;
    -webkit-animation-duration: 250s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
}

#title, #artist, #album {
    position: relative;
    z-index: 999;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    /*font-size: 100px;*/
    color: #fff;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin: .25em;
}

#song_info_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    visibility: hidden;
    transform: translate(-50%, -50%)
}

#title {
	font-size: 3vw;
}

#artist {
    font-size: 2vw;
}
#album {
    font-size: 2vw;
	/*font-size: 40px;*/
	margin-bottom: 0;
}

body {
    background: url('https://static.zerochan.net/Miyamizu.Mitsuha.full.2042407.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

input, button, #loading {
    position: absolute;
    top: 1em;
    left: 1em;
    display: block;
    z-index: 999;
}

#playExample {
    top: 40px;
}

#loading {
    top: 70px;
}